@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/**
 * @Author: Heartripper
 */
.urlbar-history-dropmarker,
#star-button,
.scrollbutton-up,
.scrollbutton-down,
.tab-close-button,
.tab-icon-image,
#go-button,
.toolbarbutton-menu-dropmarker {
    display: none !important;
}

/*Tabs*/
.close-icon {
    -moz-binding: url('chrome://browser/content/tabbrowser.xml#tabbrowser-close')!important;
}
#TabsToolbar[moz-collapsed=true] {visibility:visible !important;}

#TabsToolbar {
    background: transparent !important;
    margin-bottom: 0 !important;
    height:21px !important;
}

#TabsToolbar .arrowscrollbox-scrollbox {
    padding: 0 0px !important;
}

#TabsToolbar .tabs-newtab-button,
#TabsToolbar .tabbrowser-tab{
    -moz-border-top-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    border-style: solid !important;
    border-color: rgba(0,0,0,.2) !important;
    padding: 4px 2px !important;
    background: #e8eaed !important;
    text-align:center;
    padding: 0 !important;
    color:#738ca5 !important;
}

#TabsToolbar .tabbrowser-tab{
    border-width: 0px 0 0 1px !important;
    border-color:#ccc !important
}

#TabsToolbar .tabbrowser-tab[last-visible-tab]{
    border-right-width: 1px !important;
}

#TabsToolbar .tabbrowser-tab[afterselected]{
   border-left-color: rgba(0,0,0,.25) !important;
}

#TabsToolbar .tabbrowser-tab[selected]{
    background: #f1f1f1 !important;
    background-clip: padding-box !important;
    border-color: rgba(0,0,0,.25) !important;
    color: rgb(43,87,154) !important;
}

#TabsToolbar .tabs-newtab-button:hover,
#TabsToolbar .tabbrowser-tab:hover:not([selected]){
    color: rgb(43,87,154) !important;
    background: rgba(255,255,255,.45) !important;
}

#TabsToolbar .tab-background{
    margin: 0 !important;
    background: transparent !important;
}

#TabsToolbar .tab-background-start,
#TabsToolbar .tab-background-end{
    display: none !important;
}

#TabsToolbar .tab-background-middle{
    margin: -4px -2px !important;
    background: transparent !important;
}

#TabsToolbar .tabbrowser-tab:after,
#TabsToolbar .tabbrowser-tab:before{
    display: none !important;
}

#TabsToolbar .tabs-newtab-button{
    border-width: 1px 1px 0 0 !important;
    margin: 0 !important;
    width: auto !important;
    padding: 0 5px !important;
}

/* Location bar buttons */
#navigator-toolbox {
  border-bottom: 1px solid #ccc !important;
}
#TabsToolbar::after {
  border-bottom: 1px solid #e8eaed !important;
}

#back-button .toolbarbutton-icon {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3QcOFy0m28VklQAAAMZJREFUOMvd0T1KA1EYheEnmj2ICVFQCaS3DSSmcA0WF7dwFzDlXcD0llOmiBuQKW1Mo6JL8KdxBYLNLQTHSaYS/OpzXj7ew19fb1OgKKs9LDFNMfzI9zeU93GDCZ6bMjst5SPc5vIj5lsDirI6Ro1D3GORYnjbClCU1UkuH+AOsxTD+2+fNn1whRE+cZli+Gjz1AS4wBN2sSrKatAJkGJ4xVkWN0bdBmmUmIUt8PANMuw0YxZ3nvcf47oTIENe8v5rnPqf9wUzkTMMOOq3ogAAAABJRU5ErkJggg==) !important;
    -moz-image-region: rect(0,16px,16px,0)!important;
}

#back-button:hover .toolbarbutton-icon {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3QcOFy8ewfG+iQAAAMNJREFUOMvd0T1KA1EYheEnmj2IEQ2oBNJbjhBNkWY2EBhwYba3szDFbUOaCzbaGNEl+NO4gkCaWwQcJ5lK8KvPefl4D399nW2BoqwOcIfLFMOPfHdL+RBzDPFWl9lrKJ/iIZdfcLUzoCirMyzQxzPGKYbPnQBFWZ3n8gkeMUoxfP32ad0HtzjGCjcphu8mT3WAKV6xj/uirHqtACmGD1xncQMsmiC1ErOwMZYbkKNWM2Zxk7z/ALNWgAx5z/s/4cL/vDUkuzMMFHQPlgAAAABJRU5ErkJggg==) !important;
    -moz-image-region: rect(0,16px,16px,0)!important;
    transition: all 0.2s ease 0s;
}

#back-button[disabled] .toolbarbutton-icon {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3QcOFzIZoPlHNgAAAL9JREFUOMvd0TFKQ0EUheEvmj2IigZUAvbTDsRkwDWkcmEuwUIX8EKKV9iMjQZdQhIbVyDYTBHI8yWvErz1OT+X//DX19sVqOp8hAfEFMNWvr+jfIwZrvHRlDloKV/guZQXuNkbUNX5EnMM8IpJimG9F6Cq81UpnyNjlGL4/O3Tpg/ucYZv3KUYvto8NQGmeMchHqs6n3QCpBhWGBdxQ8zbII0Si7AJ3jYgp51mLOJuy/5DPHUCFMiy7P+C4H/eD40jMwzOh18wAAAAAElFTkSuQmCC) !important;
    -moz-image-region: rect(0,16px,16px,0)!important;
    transition: all 0.2s ease 0s;
}

#forward-button .toolbarbutton-icon {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3QcOFy4pYFcqxwAAAMxJREFUOMvd0jFKQ0EYxPFfPIWB2BkUWxsbIUQQe+v1DHuAV7xiD7AHsNvWMxhJIYiFIiiCdoqgjZYWFjavkGCeeTaCUw7Mn+Gbj79W7zuzyuUdF9hPMTy1AZbm+LfYwkmVy+A3gF1cYYjTKpfVToAUwwtGOMcKJlUuwy4NpBhemyZnGGBa5bKxMKCBvOEAH1jGYV3XvR9X+LJGH8dYxz3GKYaHhRrMhG+wPRtu+4M+JljDNXZSDM9djnjUhO+wNy/cBtjEJUYphkf/W59X/DjuQnsxTQAAAABJRU5ErkJggg==) !important;
    -moz-image-region: rect(0,16px,16px,0)!important;
}

#forward-button:hover .toolbarbutton-icon {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3QcOFzA3ThkoewAAAMlJREFUOMvd0rFKA0EYxPFffAoDsTMotjYWJwQFsdgu7eKz3INYbmm5tRFZBLFQBEXQLiJoo6WFhc0VEsyZsxGccmD+DN98/LV635lViO+4xLjk9NQGWJrj32ELJ1WIg98A9nCNIc6qEFc7AUpOLxjhAiuYVCEOuzRQcnptmpxjgNMqxI2FAQ3kDQf4wDIO67ru/bjClzX6OMY6HrBTcpou1GAmfIvt2XDbH/QxwRpusFtyeu5yxKMmfI/9eeE2wCauMCo5Pfrf+gS94Dm5ts5PgAAAAABJRU5ErkJggg==) !important;
    -moz-image-region: rect(0,16px,16px,0)!important;
    transition: all 0.2s ease 0s;
}

#forward-button[disabled] .toolbarbutton-icon {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3QcOFzIraC4WtgAAAMdJREFUOMvd0jFKQ0EYxPFfPIWB2BkUW7ewWQi6iL29Z3kH8QgeYTGSBUF8oAiKoF2CoI2WFhY2r5Bgnnk2glMOzJ/hm4+/Vu87M5f6HVc4TDE8tQFWFvj32MFZLvXgN4B93GCI81zq9U6AFMMLRrjEGsa51MMuDaQYXpsmFxhgkku9tTSggbzhCB9YxXFVVb0fV/iyRh+n2MQjdlMM06UazIXvEOfDbX/QxxgbuMVeiuG5yxFPmvADDhaF2wDbuMYoxTDzv/UJkwA4UtKByTsAAAAASUVORK5CYII=) !important;
    -moz-image-region: rect(0,16px,16px,0)!important;
    transition: all 0.2s ease 0s;
}

/*Toolbar*/
#addon-bar,
#PersonalToolbar,
#nav-bar{
    background: #f8f8f8 !important;
    background-clip: padding-box !important;
    border-color: rgba(0,0,0,.25) !important;
    border-radius: 0 !important;
}
#nav-bar {
    background: #e8eaed !important;
    border: none !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 2px 4px 0px 4px !important;
    border-width: 0px !important;
}

#nav-bar{
    padding-right: 3px;
}

#main-window #navigator-toolbox:after {
    border-radius: 0 !important;
    height: 1px !important;
    background: #cccccc !important;
}

#customizableui-special-separator2{
    display: none !important;
}

#nav-bar-customization-target{
    margin-right: 3px !important;
    padding-right: 3px !important;
}

/*Urlbar*/
#searchbar > .searchbar-textbox,
#urlbar{
    border-color: rgba(23, 51, 78, 0.3) !important;
    border-radius: 0 !important;
}

#searchbar > .searchbar-textbox:not([focused]):hover,
#urlbar:not([focused]):hover{
    border-color: rgba(23, 51, 78, 0.3) !important;
}

#searchbar > .searchbar-textbox[focused],
#urlbar[focused]{
    border-color: #4595E5 !important;
}

/*Stop, Go, Reload*/
#urlbar-go-button,
#urlbar-reload-button,
#urlbar-stop-button{
    padding: 0 4px 0 6px !important;
    margin: 4px 0 !important;
}

/*Buttons*/
#nav-bar .toolbarbutton-1 > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1 > .toolbarbutton-text,
#nav-bar .toolbarbutton-1 > .toolbarbutton-badge-container,
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
  background: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}


#nav-bar .toolbarbutton-1:hover > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:hover > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:hover > .toolbarbutton-badge-container,
#nav-bar .toolbarbutton-1:hover > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:hover > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
  background: #e3e3e3 !important;
  border-color: rgba(0,0,0,.09) !important;
}

#nav-bar .toolbarbutton-1:not([disabled="true"]):hover:active > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([disabled="true"]):hover:active > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:not([disabled="true"]):hover:active > .toolbarbutton-badge-container,
#nav-bar .toolbarbutton-1:not([disabled="true"]):hover:active > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([disabled="true"]):hover:active > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
  background: #dddddd !important;
  border-color: rgba(0,0,0,.09) !important;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2) inset !important;
}

#nav-bar .toolbarbutton-1[open] > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1[open] > .toolbarbutton-text,
#nav-bar .toolbarbutton-1[open] > .toolbarbutton-badge-container,
#nav-bar .toolbarbutton-1[open] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1[open] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
  background: #177ee5 !important;
  border-color: rgba(0,0,0,.09) !important;
  box-shadow: 0 3px 3px -3px rgba(0,0,0,.3) inset !important;
}

#nav-bar :-moz-any(#back-button, #forward-button, #downloads-button, #bookmarks-menu-button,  #sync-button, #feed-button, #tabview-button, #webrtc-status-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button)[open] {
  list-style-image: url("chrome://browser/skin/Toolbar-inverted.png") !important;
}

#nav-bar  #back-button{
  margin-right: -1px !important;
}
#nav-bar  #forward-button > .toolbarbutton-icon,
#nav-bar  #back-button > .toolbarbutton-icon {
  padding: 5px !important;
  border: 1px solid transparent !important;
  background: transparent !important;
  transition-property: background-color, box-shadow !important;
}

#nav-bar  #back-button:not([disabled="true"]):hover > .toolbarbutton-icon {
  background: #e3e3e3 !important;
}

/*Body*/
#browser-border-start,
#browser-border-end{
    background-color: rgba(0,0,0,.25) !important;
}
