@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
#nav-bar {
    -moz-transition: all 200ms linear 0ms !important;
    visibility: visible;
    position: fixed !important;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    -moz-box-ordinal-group: 2 !important;
    background-image: none !important;
    box-shadow: none !important;
}

#nav-bar-customization-target {
    width: calc(100% - 50px);
}

#navigator-toolbox:not(:hover)  > #nav-bar:not([customizing]) {
    margin-top:-30px !important;
    z-index:-1 !important
}
}
