@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#navigator-toolbox{
height:22px !important;
transition-duration:0.2s;
overflow:hidden !important;
}

#navigator-toolbox:hover{
height:58px !important;
transition-duration:0.2s;

}
}
