@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("pinboard.in") {

body {font-family: Open Sans !important; color:#292929}


a {color:#292929!important;padding:2px}

a:hover,
.user_navbar a:hover,
#tag_cloud_header a:hover {
background:#292929!important;
color:#FFF!important}

.display .when {opacity:0.7}

.display {border-bottom:1px dashed #ccc;width:100%; padding:0 0 20px}
.display .bookmark_title {font: bold 16px Open Sans; padding:3px;margin:0 0 5px;display:inline-block;}
.display a.bookmark_title {color:#292929;}
.display a.unread {background:#fdebbf}
.display a.bookmark_title:hover {color:#ff0099}
.display .description {font:11px/16px Verdana; margin:5px 0; padding:5px; background:#EEE}
.display .tag {font:11px Verdana; display:inline-block;padding:2px; margin:5px 0!important;background:#ecf7fb}
.display .source {font-size:11px;display:inline-block;margin:0 0 5px}
.display .edit_links {font:11px Arial}

.user_navbar a,#tag_cloud_header a {color:#059ece!important}

.star {font-size:22px;display:inline-block; font-weight:bold;margin: 0px 10px -25px -20px;}
.star span {visibility:hidden}
.star:before {content: "♥"; margin:3px 0 0 -20px; position:absolute}
.selected_star, .star:hover {color:#cc0066!important}

#bookmarks .private {background:#fff!important}

.bookmark_title img {
margin: 0 0 -3px -21px;
}
div.bookmark {
  margin-bottom:0.8em!important;
  padding:0px 3px 0.8em!important;
  border:solid #ccc!important;
  border-width:0px!important;
}
div.bookmark.private {background:#fff!important;}
div.bookmark > div.display::after {
  content:"[PUBLIC]";
  color:#c00;
  padding-left:1em;
  font-size:90%;
  font-weight:bold;
}
div.bookmark.private > div.display::after {
  content:"[PRIVATE]";
  color:#27ae60;
  font-weight:normal;
}

}
